build
SkyTestFoundation.xcodeproj/project.xcworkspace/xcuserdata
Carthage
SkyTestFoundation.xcodeproj/xcuserdata
UserInterfaceState.xcuserstate
TestResults
Demos/DemoMacOS/SourcePackages
Info.plist
Demos/DemoMacOS/TestResults.xcresult
