build
SkyTestFoundation.xcodeproj/project.xcworkspace/xcuserdata
Carthage
SkyTestFoundation.xcodeproj/xcuserdata
UserInterfaceState.xcuserstate
TestResults
Demos/DemoMacOS/SourcePackages
Demos/DemoMacOS/TestResults.xcresult
Demos/DemoMacOS/TestResultsDemoMacOs.xcresult/Data
Demos/DemoMacOS/TestResultsDemoMacOs
manifest.db
Demos/DemoIOS/SourcePackages
